@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #616161;
}

#root {
  max-width: 25rem;
  margin: 0 auto;
  background: #efefef;
  overflow: hidden;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 20px;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.w-100 {
  width: 100%;
}

#prev-page,
#next-page {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  background: transparent;
  transform: rotate(-45deg);
  border: 2px solid #ddd;
}

#prev-page {
  border-right: transparent;
  border-bottom: transparent;
  left: 8px;
}

#next-page {
  border-left: transparent;
  border-top: transparent;
  right: 8px;
}

.documents .document {
  position: relative;
}

.banner-shadow {
  box-shadow: 2px 3px 0px 2px #0e334c;
}

.round-bottom-0 {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #000;
  font-style: normal;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}

h2 {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

h3 {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

h4 {
  color: #222;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 0 10px;
}

p {
  color: #0e334c;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.9%;
  text-align: left;
}

a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}

.card-section p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}

.card-section .download-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.youtube {
  border: 1px solid #000;
  height: 228px;
  border-radius: 8px;
}
.youtube .youtube_video {
  height: 160px;
  width: 100%;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.youtube .youtube_video ::slotted(.ytp-show-cards-title) {
  display: none !important;
}

.loading-section {
  background: #fff;
  height: 100vh;
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-section .loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ddd;
  border-top: 2px solid #000;
  margin-top: 1rem;
  -webkit-animation: loader 1.25s infinite linear;
          animation: loader 1.25s infinite linear;
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer img {
  width: 21px;
  margin-top: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #616161;
}

#root {
  max-width: 25rem;
  margin: 0 auto;
  background: #efefef;
  overflow: hidden;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 20px;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.w-100 {
  width: 100%;
}

#prev-page,
#next-page {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  background: transparent;
  transform: rotate(-45deg);
  border: 2px solid #ddd;
}

#prev-page {
  border-right: transparent;
  border-bottom: transparent;
  left: 8px;
}

#next-page {
  border-left: transparent;
  border-top: transparent;
  right: 8px;
}

.documents .document {
  position: relative;
}

.banner-shadow {
  box-shadow: 2px 3px 0px 2px #0e334c;
}

.round-bottom-0 {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #000;
  font-style: normal;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}

h2 {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

h3 {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

h4 {
  color: #222;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 0 10px;
}

p {
  color: #0e334c;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.9%;
  text-align: left;
}

a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}

.card-section p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}

.card-section .download-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.youtube {
  border: 1px solid #000;
  height: 228px;
  border-radius: 8px;
}
.youtube .youtube_video {
  height: 160px;
  width: 100%;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.youtube .youtube_video ::slotted(.ytp-show-cards-title) {
  display: none !important;
}

.loading-section {
  background: #fff;
  height: 100vh;
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-section .loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ddd;
  border-top: 2px solid #000;
  margin-top: 1rem;
  -webkit-animation: loader 1.25s infinite linear;
          animation: loader 1.25s infinite linear;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer img {
  width: 21px;
  margin-top: 28px;
}

.hero {
  position: relative;
}
.hero .logo {
  padding-top: 34px;
}
.hero .logo-banner {
  padding-top: 34px;
  position: absolute;
  top: 2.8rem;
  left: 18px;
}
.hero .hero-bottom .hero-detail {
  border: solid #0e334c;
  background: #fff;
  border-radius: 12px;
  border-width: 1px 1px 1px;
  box-sizing: border-box;
  margin-top: 14px;
  padding: 10px;
  word-break: keep-all;
}
.hero .hero-bottom img {
  width: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #616161;
}

#root {
  max-width: 25rem;
  margin: 0 auto;
  background: #efefef;
  overflow: hidden;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 20px;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.w-100 {
  width: 100%;
}

#prev-page,
#next-page {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  background: transparent;
  transform: rotate(-45deg);
  border: 2px solid #ddd;
}

#prev-page {
  border-right: transparent;
  border-bottom: transparent;
  left: 8px;
}

#next-page {
  border-left: transparent;
  border-top: transparent;
  right: 8px;
}

.documents .document {
  position: relative;
}

.banner-shadow {
  box-shadow: 2px 3px 0px 2px #0e334c;
}

.round-bottom-0 {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #000;
  font-style: normal;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}

h2 {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

h3 {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

h4 {
  color: #222;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 0 10px;
}

p {
  color: #0e334c;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.9%;
  text-align: left;
}

a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}

.card-section p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 127.9%;
  text-decoration: none;
}

.card-section .download-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.youtube {
  border: 1px solid #000;
  height: 228px;
  border-radius: 8px;
}
.youtube .youtube_video {
  height: 160px;
  width: 100%;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.youtube .youtube_video ::slotted(.ytp-show-cards-title) {
  display: none !important;
}

.loading-section {
  background: #fff;
  height: 100vh;
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-section .loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ddd;
  border-top: 2px solid #000;
  margin-top: 1rem;
  -webkit-animation: loader 1.25s infinite linear;
          animation: loader 1.25s infinite linear;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer img {
  width: 21px;
  margin-top: 28px;
}

.card-section .card {
  background: #303130;
  border: 1px solid #000;
  position: relative;
  text-align: center;
  border-radius: 8px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.card-section .card .card_icon-banner {
  background: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  position: absolute;
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
.card-section .card .card_icon-banner img {
  margin: auto;
  width: 30px;
}
.card-section .card .card_icon {
  position: absolute;
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
.card-section .card .card_icon img {
  width: 40px;
  border-radius: 6px;
}
.card-section .card .bg-bannner {
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-section .card .bg-bannner .pdf {
  transform: scale(0.6);
}
.card-section .card .bg-bannner img {
  transform: scale(0.7);
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}/*# sourceMappingURL=style.css.map */